:root {
    --header-color: #5FA8D3;
    --background-color: #cae9ff;
    --text-color: #1b4965;
    --accent-color: #62b6cb;
}

.top-header {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr 1fr;
    width: 100%;
    height: auto;
    color: var(--text-color);
    background-color: var(--background-color);
}

.top-header img {
    grid-column: 1;
    align-items: center;
    width: 150px;
    height: auto;
    margin: 1rem;
}

header nav {
    grid-column: 2/4;
    display: flex;
    font-family: 'bebas neue', serif;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--text-color);
    font-family: 'bebas neue', serif;
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 5px;
    background-color: var(--background-color);
}

.hero-contact-header {
    position: relative;
    bottom: 60px;
}

main {
    width: 100%;
}

.hero {
    position: relative;
    border: var(--accent-color);
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'quicksand', sans-serif;
    top: 175px;
    box-shadow: 0 0 10px 5px var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
}

.overlay img {
    float: right;
    margin: 10px;
    width: 150px;
    height: auto;
    border: var(--accent-color)
}

.history, .contact_info {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.history-header, .contact_info-header {
    margin-bottom: 20px;
    font-family: 'bebas neue', serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.text-image-container, .our-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'quicksand', sans-serif;
    color: var(--text-color);
    background-color: white;
}

.map {
    border: 2px solid var(--text-color);

}

.text-container {
    flex: 1;
    margin: 10px;
}

.image-container {
    flex: 0 0 auto;
    margin: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.adventure, .contact-form, .team {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.adventure-header, .contact-header, .team-header {
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: 'bebas neue', serif;
    background-color: var(--background-color);
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.gallery figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
}
.gallery figcaption {
    text-align: center;
    padding: 5px;
    color: var(--text-color);
    background-color: white;
    font-family: 'quicksand', sans-serif;
}

form {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--text-color);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: black;
    font-size: 1rem;
    font-family: 'bebas neue', serif;
}

label, input, button, textarea {
    font-family: 'quicksand', sans-serif;
}

label {
    text-align: center;
    padding-right: 1rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="radio"] {
    width: 12px;
    height: 12px;
    vertical-align: center;
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
    vertical-align: bottom;
}

button {
    font-family: 'bebas neue', serif;
    font-size: 1.2rem;
    background-color: var(--accent-color);
    color: black;
    margin: .5rem;
    padding: 0.5rem;
    border: 1px solid var(--background-color);
}

button:hover {
    background-color: var(--text-color);
    color: var(--accent-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'quicksand', sans-serif;
    margin-top: 20px;
}

.wireframe {
    flex: 1;
    text-align: center;
    position: absolute;
    margin-top: 60px;
}

.footer-text {
    flex: 1;
    text-align: center;
}

.social {
    display: flex;
    gap: 10px;
}


