:root {
    --header-color: #5FA8D3;
    --background-color: #cae9ff;
    --text-color: #1b4965;
    --accent-color: #62b6cb;
}

.top-header {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr 1fr;
    width: 100%;
    height: auto;
    color: var(--text-color);
    background-color: var(--background-color);
}

.top-header img {
    grid-column: 1;
    align-items: center;
    width: 150px;
    height: auto;
    margin: 1rem;
}

header nav {
    grid-column: 2/4;
    display: flex;
    font-family: 'bebas neue', serif;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--header-color);
    font-family: 'bebas neue', serif;
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 5px;
    background-color: var(--background-color);
}

main {
    width: 100%;
}

.hero {
    position: relative;
    border: var(--accent-color);
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'quicksand', sans-serif;
    top: 175px;
    box-shadow: 0 0 10px 5px var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
}

.overlay img {
    float: right;
    margin: 10px;
    width: 150px;
    height: auto;
    border: var(--accent-color)
}

.history {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.history-header {
    margin-bottom: 20px;
    font-family: 'bebas neue', serif;
    color: var(--header-color);
    background-color: var(--background-color);
}

.text-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'quicksand', sans-serif;
    color: var(--text-color);
    background-color: white;
}

.text-container {
    flex: 1;
    margin: 10px;
}

.image-container {
    flex: 0 0 auto;
    margin: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.adventure {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.adventure-header {
    margin-bottom: 20px;
    color: var(--header-color);
    font-family: 'bebas neue', serif;
    background-color: var(--background-color);
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.gallery figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
}
.gallery figcaption {
    text-align: center;
    padding: 5px;
    color: var(--text-color);
    background-color: white;
    font-family: 'quicksand', sans-serif;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'quicksand', sans-serif;
    margin-top: 20px;
}

.footer-text {
    flex: 1;
    text-align: center;
}

.social {
    display: flex;
    gap: 10px;
}


